html, body, #root, .App {
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
}
body {
  background-color: #282c34;
  font-size: 62.5%;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height:20%;
}

.App-header > p {
  font-size: 0.5rem;
}

.App-header > h2 {
  margin-bottom: 0;
}

.App-body {
  display: flex;
  height: 80%;
}

.App-body > p {
  margin-top: 0;
  margin-bottom: 0;
}
.App-link {
  color: #09d3ac;
}

select {
  color: white;
}

option {
  color: white;
}

button {
  background-color: white;
}

.chart {
  margin: auto;
  width: 95%;
}

.left {
  border-right:solid 1px grey;
  height: 100%;
  padding: 0.75rem;
  flex-basis: 20%;
}

.right {
  flex: auto;
}

.button {
  border-radius: 0.3125rem;
  padding: 0.25rem;
  margin: 0.8125rem;
}

.button__add {
  color: #d6d5d5;
  background-color: rgba(58, 132, 86, .7);
  border-color: rgba(58, 132, 86, .7);
}

.button__remove {
  color: #d6d5d5;
  background-color: rgba(93, 18, 11, .68);
  border-color: rgba(93, 18, 11, .68);
  
}
.select__text {
  font-weight: 600;
  color: #aab0b7;
  padding-bottom: 0.5rem;
  border-bottom: solid 0.0625rem #aab0b7;
}

select {
  background-color: #26272b;
  margin: 0.5rem 0;
}

a:visited {
  color: #aab0b7;
}